{% extends 'template.html' %}
{% block head %}

{% endblock %}


{% block body %}
    <div class="container-fluid bg-dark">
        <div id="title-container" class="row text-center py-2 mb-2">
            <div class="col-12 text-white text-center">
                <h1 class="pt-4" style="font-size: 3rem; letter-spacing: 5px; word-spacing: 10px;">Search Homemade Recipes</h1>
            </div>
        </div>
        <div id ="recipes" class="container">
            <div id="search-message"></div>
            <div id = "recipes-row" class="row py-3 ">
           
            </div>
        </div>

    </div>   
    <script>
        const recipesData = JSON.parse('{{ recipes|tojson }}')
        const recipeSearch = JSON.parse('{{ searchString|tojson }}')
        console.log(recipeSearch);
    </script>
{% endblock %}