{% extends 'template.html' %}
{% block head %}

{% endblock %}


{% block body %}
    <div class="container-fluid bg-dark">
        <div id="title-container" class="row text-center py-2 mb-2">
            <div class="col-12 text-white text-center">
                <h1 class="pt-4" style="font-size: 3rem; letter-spacing: 5px; word-spacing: 10px;">Search Homemade Recipes</h1>
            </div>
        </div>
        <div id="user-search" class="row py-4 justify-content-center my-2">
          <div class="col-1">
            h
          </div>
            <div class="col-4">
                <div class="input-group">
                    <input id="search-input" type="text" class="form-control rounded-3" placeholder="Find a recipe..." required>
                    <div id="clients-error" class="invalid-feedback text-white">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button id="submit-btn" type="submit" class="btn rounded-3 btn-outline-light btn-dark">Search</button>
            </div>
        </div>  


        <div id ="recipes" class="container">
          <div id = "recipes-row" class="row py-3 ">
            <div class="col-3 my-3">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3 my-3">
              <div class="card">
                <a href=""><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3 my-3">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3 my-3">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3 my-3">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3 my-3">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3 my-3">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190130-tacos-al-pastor-horizontal-1-1549571422.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">When ‘The Dude’ Lebowski is mistaken fora millionaire Lebowski, twothugs urinate on his rug to coerce him into payinga debt he knows nothing about.While attempting to gain recompense for the ruinedrug from his wealthycounterpart</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>   
  
{% endblock %}